div.star-active
{
	cursor: pointer;
}

div.star-empty
{
	background:url(images/empty.png) top left no-repeat;
	* background:none;
	* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/empty.png');	
	width:26px;
	height:26px;
	overflow:hidden;
}

div.star-voted
{
	background:url(images/voted.png) top left no-repeat;
	* background:none;
	* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/voted.png');	
	width:26px;
	height:26px;
	overflow:hidden;
}

div.star-over
{
	background:url(images/over.png) top left no-repeat;
	* background:none;
	* filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/over.png');	
	width:26px;
	height:26px;
	overflow:hidden;
}
